<template name="audioHighlight">
<div class="row text-status">
    <div class="col-lg-1">
        <li class="facebook-small-icon"><a href="http://facebook.com/{{fbookId}}"><img src="{{ownerPic}}"></a></li>
    </div>
    <div class="col-lg-11">
        <section class="content">
        <!-- theoretical not fully implemented -->
            <iframe src="https://embed.spotify.com/?uri=spotify:track:4th1RQAelzqgY7wL53UGQt" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
        </section>
    </div>
</div>
</template>
