<template name="create">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 nopad">
                <div class="pad"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <form role="form" class="newMemory">
                    <div class="form-group">
                        <label>Title</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Description:</label>
                        <textarea class="form-control"></textarea>
                    </div>
                    <div class="form-group">
                        <label>Who Coming</label>
                        <input type="search" class="form-control">
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <ul>
                                <li><img class="img-circle" src="http://placehold.it/80x80"></li>
                                <li><img class="img-circle" src="http://placehold.it/80x80"></li>
                                <li><img class="img-circle" src="http://placehold.it/80x80"></li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <button type="submit" class="btn-info btn pull-right form-group">Create</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>


    </div>




</template>