<template name="create">
    <section class="header-create">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>make a memory.</h2>
                </div>
            </div>
        </div>
    </section>
    <div class="container">
        <div class="row create-form">
            <div class="col-lg-12">
                <form role="form" class="newMemory">
                    <div class="form-group">
                        <label>Title</label>
                        <input type="text" class="form-control" name="title">

                        <label>Description:</label>
                        <textarea class="form-control" name="description"></textarea>

                        <label>Tag:</label>
                        <input type="text" class="form-control" name="tag">
                    </div>
                    <div class="form-group">
                        <label>Whose Coming: Invite Collaborators</label>
                        {{> searchBox}}
                    </div>
                    <div class="row peopleList">
                        <div class="col-md-12">
                            {{> peopleImages}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <a href="/home">
                                <button type="submit" class="btn-back btn form-group">Back</button>
                            </a>
                            <button type="submit" class="btn-create btn pull-right form-group">Create</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>
