.template-wrapper.login {
    height: 100%;
    color: #fff;
    text-align: center;
    /*css for full size background image*/
    background: url("/assets/img/bg.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
}

.text-login-wrap {
    height: 100%;
}

.text-login-wrap > .row {
    position: relative;
    top: 25%;
}

.logo {
    color: rgba(235, 235, 235, .88);
    font-size: 5em;
    letter-spacing: 3px;
}

.add {
    padding-bottom: 10px;
}

.login-buttons-dropdown-align- .login-button .single-login-button,
#login-buttons #login-buttons-facebook {
    width: 100%;
    margin-top: 20px;
    padding: 5px 10px;
    border-color: white;
    border-radius: 0;
    font-family: lato;
    font-size: 22px;
    font-weight: 100;
    transition: all .2s ease;
    text-transform: uppercase;
    background-color: clear;
}

#login-buttons #login-buttons-facebook:hover {
    border-color: #744c04;
    color: #744c04;
    opacity: .8;
    background-color: #f1bd5d;
}

#login-buttons .login-image {
    display: none;
}


.text-login-wrap {
    top: 50%;
}
