@import url(https://fonts.googleapis.com/css?family=Rochester);

html,
body {
/*css for full size background image*/
  background: url("http://placehold.it/350x150") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
  height: 100%;
  background-color: #060;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
 
}

.add{
	padding-bottom: 10px;
}

.moto{
font-family: 'Rochester', cursive;

}

.login-buttons-dropdown-align- .login-button .single-login-button, #login-buttons #login-buttons-facebook{
	background-color: white;
	color: #3B5998;
	border-radius: 0;
	border-color: white;
	width: 250px;
	height: 90px;
	font-size: 22px;
}

#login-buttons .login-image{
	display: none;
}



