<template name="memory">
    <article class="memory-wrapper animated fadeIn">
        <div class="col-lg-12">
            <a href="/memories/id">
                <figure class="cover-photo" style="background:url({{coverPhoto}}); background-size: cover;">
                    <div class="info-wrap">
                        <div class="title">
                            <h3>{{title}}</h3>
                            <div class="location-wrap">
                                <i class="fa fa-map-marker animated pulse infinite"></i>
                                <span class="location">{{location}}</span>
                            </div>
                        </div>
                    </div>
                </figure>
            </a>
            <div class="details">
                <h4>{{date}}</h4>
                <p>{{description}}</p>

                <div class="additional-info">
                    {{> peopleImages}}
                </div>
            </div>
        </div>
    </article>
</template>
