<template name="upload">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-12 bgImg">
                <h2>Title</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="desc">
                    <h6><small>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eu ultricies elit, eget consectetur nibh. Vestibulum ante eros, imperdiet at ante nec, vehicula pulvinar nulla. In hac habitasse platea dictumst. Aenean semper sed purus quis interdum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </small></h6>
                </div>
            </div>
        </div>
        <div class='embed-container'>
    <iframe class="frame" src='https://embed.spotify.com/?uri=spotify:track:24lMtPOCzP5g4hrg3NklLa' frameborder='0' allowtransparency='true'></iframe>
</div>
        <div class="button-wrapper extra navbar-fixed-bottom">
            <ul class="quick-buttons">
                <li>
                    <a href="/memories/create" class="plus">
                        <span class="fa-stack fa-2x">
                                      <i class="fa fa-circle fa-stack-2x"></i>
                                      <i class="fa fa-video-camera fa-stack-1x fa-inverse"></i>
                                    </span>
                    </a>
                </li>
                <li>
                    <a href="#" class="camera capture" type="button" value="TakePhoto">
                        <span class="fa-stack fa-2x">
                                      <i class="fa fa-circle fa-stack-2x"></i>
                                      <i class="fa fa-camera fa-stack-1x fa-inverse"></i>
                                    </span>
                    </a>
                </li>
                <li>
                    <a href="#" class="geolocate geo">
                        <span class="fa-stack fa-2x">
                                      <i class="fa fa-circle fa-stack-2x"></i>
                                      <i class="fa fa-commenting-o fa-stack-1x fa-inverse"></i>
                                    </span>
                    </a>
                </li>
                <li>
                    <a href="#" class="mic">
                        <span class="fa-stack fa-2x">
                                      <i class="fa fa-circle fa-stack-2x"></i>
                                      <i class="fa fa-microphone fa-stack-1x fa-inverse"></i>
                                    </span>
                    </a>
                </li>
                <li>
                    <a href="#" class="smile">
                        <span class="fa-stack fa-2x">
                                      <i class="fa fa-circle fa-stack-2x"></i>
                                      <i class="fa fa-smile-o fa-stack-1x fa-inverse"></i>
                                    </span>
                    </a>
                </li>
            </ul>
        </div>
    </div>

</template>
