<template name="quickButtons">
<ul class="quick-buttons">
  <li>
    <a href="/memories/create" class="plus">
      <span class="fa-stack fa-2x">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-video-camera fa-stack-1x fa-inverse"></i>
      </span>
    </a>
  </li>
  <li>
    <a href="#" class="camera capture" type="button" value="TakePhoto">
      <span class="fa-stack fa-2x">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-camera fa-stack-1x fa-inverse"></i>
      </span>
    </a>
  </li>
  <li>
    <a href="#" class="geolocate geo">
      <span class="fa-stack fa-2x">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-commenting-o fa-stack-1x fa-inverse"></i>
      </span>
    </a>
  </li>
  <li>
    <a href="#" class="mic">
      <span class="fa-stack fa-2x">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-microphone fa-stack-1x fa-inverse"></i>
      </span>
    </a>
  </li>
  <li>
    <a href="#" class="smile">
      <span class="fa-stack fa-2x">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-smile-o fa-stack-1x fa-inverse"></i>
      </span>
    </a>
  </li>
</ul>
</template>
