<template name="videoHighlight">
<div class="row text-status">
    <div class="col-lg-1">
        <li class="facebook-small-icon"><a href="http://facebook.com/{{fbookId}}"><img src="{{ownerPic}}"></a></li>
    </div>
    <div class="col-lg-11">
        <section class="content">
        <!-- theoretical not fully implemented -->
            <iframe width="560" height="315" src="https://www.youtube.com/embed/O1KW3ZkLtuo" frameborder="0" allowfullscreen></iframe>
        </section>
    </div>
</div>
</template>
