/* Global CSS Related Things */
@import url(https://fonts.googleapis.com/css?family=Raleway:300|Lato:400,300,100);

// Font Decs

h1 {
    margin-bottom: 2px;
    font-family: "Raleway", sans-serif;
}

h2,
h3,
h4,
h5,
h6,
p,
li {
    font-family: "Lato", sans-serif;
}

h3 {
    margin-top: 0;
    font-weight: 100;
    letter-spacing: 2px;
}


// base wraps
.template-wrapper {
    width: 100%;
    height: 100%;
}

body,
html {
    height: 100%;
}


// template overrides
.login-display-name {
    display: none !important;
}

#login-buttons-logout {
    display: block !important;
}

.logout-wrap {
    text-align: right;
    padding: 0px 30px;
    margin-top: -10px;
}

.main-wrap {
    #login-buttons .login-button, .accounts-dialog .login-button {
        font-family: lato;
        background: #6fa5e7;
        font-weight: 300;
        border: 0px;
        padding: 9px 12px;
        text-transform: uppercase;
        letter-spacing: 2px;
        transform: all 4s ease-in;

        &.hover {
            background-color: #6fa5e7;
        }
    }
}
