.memoryTimeline-wrap {
    padding-bottom: 30px;

    &.profile-wrap {
        border-bottom: none;
    }
    .get-started {
        h2 {
            color: white;
        }
    }

    // Bad top fixes, but need it for presentation
    .top-head {
        margin-top: -52px;
    }

    .back-wrap {
        float: left;
        padding: 0px 30px;
        margin-top: -10px;

        a {
            color: rgba(255,255,255, 0.8);
        }
    }
}

.fb-avatars {
    text-align: right;
    padding: 20px 0;
    display: inline-block;
    width: 100%;

    .facebook-small-icon {
        margin: 0;
        margin-left: 10px;
    }

    h6 {
        color: #4B4B4B;
        font-weight: 300;
        font-size: 25px;
        letter-spacing: 1px;
        margin-bottom: 8px;
    }
}

.timeline-header {
    padding: 0 150px;
    background-color: #E87474;

    h2 {
        line-height: 30px;
    }
}



.highlight-wrapper {
    a {
        text-decoration: none;
        font-size: 22px;
        margin-left: 10px;
        color: rgba(30, 29, 30, 0.47);
    }

    .row {
        margin-top: 30px;
        background-color: #EDEDED;
        border-radius: 7px;
    }

    .col-lg-1 {
        padding: 10px;
        img {
            height: 62px;
            width: 62px;
            padding-top: 5px;
        }
    }

    img {
        max-width: 100%;
    }

    p {
        margin: 0 0 10px;
        font-size: 20px;
        line-height: 20px;
        color: #5E5E5E;
        letter-spacing: 1px;
        font-weight: 300;
    }
    .content {
        padding: 30px;
    }
}

.status-wrap {
    font-size: 32px;
    color: #6690AE;

    .posting {
        border-radius: 20px;
        background-color: #98C6E7;

        input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea, .form-control {
            width: 89%;
            display: block;
            margin: 0 auto;
            color: white;
        }
    }

}


